body {
	color: #cf6b17;
	background-color: black;
	font-family: "DejaVu Sans Mono", ui-monospace, monospace, monospace;
	font-size: 18px;
	max-width: 780px;
	margin: auto 18px;
}

p, ol, ul { line-height: 25px; }

a { color: #e69119; }

h1, h2, h3 { margin-bottom: 12px; }
